body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Cafe24_Ssurround';
  src: url('/public/Fonts/Cafe24Ssurround-v2.0.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/public/Fonts/NanumSquareRoundB.ttf') format('opentype');
}

.a {
  text-decoration: none;
}